<form [formGroup]="addressFormGroup">
  <mat-card>
    <div class="controlers-wrapper">
      <!-- streetAddress -->
      <mat-form-field class="example-full-width">
        <input matInput placeholder="address" formControlName="streetAddress">
      </mat-form-field>

      <!-- addr2 -->
      <mat-form-field class="example-full-width">
        <input matInput placeholder="address 2" formControlName="addr2">
      </mat-form-field>

      <!-- city -->
      <mat-form-field class="example-full-width">
        <input matInput placeholder="city" formControlName="city">
      </mat-form-field>

      <!-- state -->
      <mat-form-field class="example-full-width">
        <input matInput placeholder="state" formControlName="state">
      </mat-form-field>

      <!-- state -->
      <mat-form-field class="example-full-width">
        <input matInput placeholder="state" formControlName="state">
      </mat-form-field>


      <!-- postalCode -->
      <mat-form-field class="example-full-width">
        <input matInput placeholder="zip code" formControlName="postalCode">
      </mat-form-field>

      <!-- cc -->
      <mat-form-field class="example-full-width">
        <input matInput placeholder="cc" formControlName="cc">
      </mat-form-field>

    </div>
  </mat-card>
</form>
